<title>My Application </title>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg-success text-white">

  <div class="container h-100 bg-dark m-5">

    <div class="row align-items-center justify-content-center flex-direction-column d-flex h-100">

      <div class="col-12  ">
        <label><em> </em> Not Sistemi:</label>

        <form class=" align-items-center   d-flex" action="" method="post">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"> </th>
                <td><label> 1- AA, BA, BB, CB, CC, DC, DD, FD, FF</label>
                </td>
              </tr>
              <tr>
                <th scope="row"> </th>
                <td><label>2- A, A-, B+, B, B-, C+, C, C-, D+, D, F</label>
                </td>
              </tr>
              <tr>
                <th scope="row "> </th>
                <td><label>3- A1, A2, A3, B1, B2, B3, C1, C2, C3, D, F</label>
                </td>
              </tr>
              <tr>
                <th scope="row" class="h-50"> </th>
                <td>
                  <label for="name_">Sistem </label>
                  <input name="harfler" type="text" id="name_" value="1"><br><br>

                </td>
              </tr>
            </tbody>
          </table>
          <div class="row ">
            <div class="col-12 ">
              <div class="">

                <label for="finame" class="text-inline"></label>
                <label for="fname" class="text-inline">Vize:</label>
                <input name="input1" type="text" id="fname"><br><br>
                <label for="lname">Proje:</label>
                <input name="input2" type="text" id="lname"><br><br>
                <label for="liname">Final:</label>
                <input name="input3" type="text" id="liname"><br><br>
                <input class="mt-2" type="submit" value="Submit">
                <input class="mt-4" name="input4" type="text" id="lname" value="{{result}}">
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>


</body>
